name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install latest GCC
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential
        gcc --version

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.3'

    - name: mod tidy main
      run: go mod tidy

    # - name: mod tidy benchmarks
    #   run: |
    #     cd benchmark
    #     go mod tidy
    #     cd ..

    - name: Build
      run: go build -v ./...

    - name: Start C Server
      run: |
        cd servers-c
        gcc -O2 serverli.c -o serverli
        nohup ./serverli > server.log 2>&1 & echo $! > server_pid.txt
        cd ..

    # - name: Start REGN Benchmark
    #   run: | 
    #     cd benchmark-regnhttp
    #     go test -bench=BenchmarkRegnhttp -benchtime=1x
    #     cd ..

    # - name: Start net/http & fasthttp benchmark
    #   run: | 
    #     cd benchmark
    #     go test -bench=BenchmarkFasthttp -benchtime=1x
    #     go test -bench=BenchmarkNethttp -benchtime=1x
    #     cd ..

    - name: Test
      run: go test -v ./...

    - name: Kill C Server
      run: |
        if [ -f servers-c/server_pid.txt ]; then
          kill -9 $(cat servers-c/server_pid.txt)
          rm servers-c/server_pid.txt
          rm -f servers-c/serverli
        fi
